@import "tailwindcss";

@layer base {
  html {
    scroll-snap-type: y mandatory;
  }

  body {
    @apply leading-relaxed;
    font-family: "Georgia", "Times New Roman", serif;
  }
}

section {
  @apply snap-start snap-always;
}

.scrub-scroller {
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 70vh;
  width: 150px;
  z-index: 100;
  opacity: 0;
  border-radius: 1px;
  transition: opacity 0.3s ease-out;
}

.scrub-scroller:hover {
  opacity: 1;
}

.scrub-track {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 5px;
  outline: 1px solid #bdb8b9;
  background: #ebe6e7;
  border-radius: 1px;
  opacity: 0.7;
  transition: width 0.3s ease-out;
}

.scrub-scroller:hover .scrub-track,
.scrub-scroller:hover .scrub-fill {
  width: 10px;
}

.scrub-fill {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 5px;
  background: #8c6361;
  border-radius: 1px;
  transition:
    height 0.1s ease-out,
    width 0.3s ease-out;
}
