@import "tailwindcss";

@layer base {
  html {
    scroll-snap-type: y mandatory;
  }

  body {
    @apply leading-relaxed;
    font-family: "Georgia", "Times New Roman", serif;
  }
}

section {
  @apply snap-start snap-always;
}
